.RatingsCard {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 20vw;
  height: 20vw;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.RatingsCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.RatingsCard__front,
.RatingsCard__back {
  background-color: rgb(230, 230, 230);
  position: absolute;
  width: 100%;
  height: 100%;
}

.RatingsCard__front {
  background-position: center;
  background-size: cover;
}

.RatingsCard__back {
  align-items: center;
  display: flex;
  justify-content: center;
}
