.RatingsCard {
  cursor: pointer;
  /* Filter over box-shadow to support the flip effect */
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16))
    drop-shadow(0 3px 6px rgba(0, 0, 0, 0.1));
  height: 20rem;
  position: relative;
  perspective: 1000px;
  transition: filter 0.5s;
  width: 20rem;
}

.RatingsCard:hover {
  filter: drop-shadow(0 14px 28px rgba(0, 0, 0, 0.25))
    drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1));
}

.RatingsCard__front,
.RatingsCard__back {
  background-color: rgb(230, 230, 230);
  height: 100%;
  position: absolute;
  width: 100%;
}

.RatingsCard__front {
  background-position: center;
  background-size: cover;
}

.RatingsCard__back {
  align-items: center;
  display: flex;
  justify-content: center;
}
